In [1]:
## from blog:
## https://towardsdatascience.com/building-a-deep-learning-model-using-keras-1548ca149d37

In [15]:
import pandas as pd
import numpy as np

In [3]:
train_df = pd.read_csv('data/hourly_wages_data.csv')

train_df.head()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0

In [4]:
# get independent features

train_X = train_df.drop(['wage_per_hour'], axis=1)

train_X.head()

,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,0,8,21,35,1,1,0,1,0
1,0,9,42,57,1,1,0,1,0
2,0,12,1,19,0,0,0,1,0
3,0,12,4,22,0,0,0,0,0
4,0,12,17,35,0,1,0,0,0

In [5]:
## get dependent variable

train_y = train_df[['wage_per_hour']]

train_y.head()

   wage_per_hour
0           5.10
1           4.95
2           6.67
3           4.00
4           7.50

In [6]:
from keras.models import Sequential
from keras.layers import Dense

/Users/rvaswani/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [8]:
model = Sequential()
## According to Keras documentation: the Sequential model is a linear stack of layers.

In [9]:
# get number of columns in training data:
n_cols = train_X.shape[1]

In [10]:
# add layers
model.add(Dense(10, activation = 'relu', input_shape=(n_cols,)))
model.add(Dense(10, activation = 'relu'))
model.add(Dense(1))

In [11]:
# compile model using mse as a measure of model performance
model.compile(optimizer='adam', loss = 'mean_squared_error')

In [12]:
# Set up early stopping to stop the number of times the data gets run through the model.
# We use three to say that if the data gets passed through the model 3 times and the model stops improving
# we will stop the model fitting process.

from keras.callbacks import EarlyStopping

#set early stopping monitor so the model stops training when it won't imrpove anymore.
early_stopping_monitor = EarlyStopping(patience = 3)

In [13]:
# train model
model.fit(train_X, train_y, validation_split = 0.2, epochs=30, callbacks = [early_stopping_monitor])

Train on 427 samples, validate on 107 samples
Epoch 1/30
427/427 [==============================] - 0s 623us/step - loss: 90.7018 - val_loss: 150.5134
Epoch 2/30
427/427 [==============================] - 0s 45us/step - loss: 63.9398 - val_loss: 116.0555
Epoch 3/30
427/427 [==============================] - 0s 43us/step - loss: 46.3285 - val_loss: 89.5797
Epoch 4/30
427/427 [==============================] - 0s 44us/step - loss: 35.1279 - val_loss: 67.5113
Epoch 5/30
427/427 [==============================] - 0s 49us/step - loss: 27.8768 - val_loss: 53.0496
Epoch 6/30
427/427 [==============================] - 0s 46us/step - loss: 25.7130 - val_loss: 48.0911
Epoch 7/30
427/427 [==============================] - 0s 40us/step - loss: 24.6199 - val_loss: 48.1628
Epoch 8/30
427/427 [==============================] - 0s 39us/step - loss: 24.0019 - val_loss: 46.0820
Epoch 9/30
427/427 [==============================] - 0s 43us/step - loss: 23.4557 - val_loss: 44.8764
Epoch 10/30
427/427 [==============================] - 0s 44us/step - loss: 22.8931 - val_loss: 42.4312
Epoch 11/30
427/427 [==============================] - 0s 44us/step - loss: 22.5120 - val_loss: 41.8743
Epoch 12/30
427/427 [==============================] - 0s 42us/step - loss: 22.0535 - val_loss: 40.4554
Epoch 13/30
427/427 [==============================] - 0s 42us/step - loss: 21.6118 - val_loss: 39.9003
Epoch 14/30
427/427 [==============================] - 0s 44us/step - loss: 21.2900 - val_loss: 39.0636
Epoch 15/30
427/427 [==============================] - 0s 42us/step - loss: 20.8925 - val_loss: 37.0615
Epoch 16/30
427/427 [==============================] - 0s 45us/step - loss: 20.8038 - val_loss: 36.6827
Epoch 17/30
427/427 [==============================] - 0s 44us/step - loss: 20.8502 - val_loss: 37.3782
Epoch 18/30
427/427 [==============================] - 0s 45us/step - loss: 20.0984 - val_loss: 34.4810
Epoch 19/30
427/427 [==============================] - 0s 43us/step - loss: 20.0318 - val_loss: 34.8607
Epoch 20/30
427/427 [==============================] - 0s 44us/step - loss: 19.7627 - val_loss: 34.2954
Epoch 21/30
427/427 [==============================] - 0s 45us/step - loss: 19.7649 - val_loss: 33.5814
Epoch 22/30
427/427 [==============================] - 0s 47us/step - loss: 19.5413 - val_loss: 34.6287
Epoch 23/30
427/427 [==============================] - 0s 43us/step - loss: 19.3882 - val_loss: 32.4095
Epoch 24/30
427/427 [==============================] - 0s 48us/step - loss: 19.5157 - val_loss: 33.1165
Epoch 25/30
427/427 [==============================] - 0s 44us/step - loss: 19.2483 - val_loss: 31.7751
Epoch 26/30
427/427 [==============================] - 0s 41us/step - loss: 19.0523 - val_loss: 32.8941
Epoch 27/30
427/427 [==============================] - 0s 47us/step - loss: 18.9686 - val_loss: 31.7118
Epoch 28/30
427/427 [==============================] - 0s 46us/step - loss: 18.9779 - val_loss: 30.9217
Epoch 29/30
427/427 [==============================] - 0s 45us/step - loss: 18.9217 - val_loss: 31.7369
Epoch 30/30
427/427 [==============================] - 0s 48us/step - loss: 18.9705 - val_loss: 32.7679

In [49]:
# test model on what our training data is. the blog just assumed some random test data, but let's see how accurate
# we are with the train data.

train_y_predictions = model.predict(train_X)
print("accuracy :", np.mean((1 - abs((np.array(train_y) - train_y_predictions)/np.array(train_y))) * 100))

accuracy : 58.31915865056455

In [50]:
## train new model with higher capacity

model_mc = Sequential()

In [51]:
# add layers
model_mc.add(Dense(200, activation = 'relu', input_shape = (n_cols,)))
model_mc.add(Dense(200, activation = 'relu'))
model_mc.add(Dense(200, activation = 'relu'))
model_mc.add(Dense(1))

# compile
model_mc.compile(optimizer = 'adam', loss = 'mean_squared_error')

# train
model_mc.fit(train_X, train_y, validation_split = 0.2, epochs = 30, callbacks = [early_stopping_monitor])

Train on 427 samples, validate on 107 samples
Epoch 1/30
427/427 [==============================] - 0s 686us/step - loss: 29.5860 - val_loss: 30.2246
Epoch 2/30
427/427 [==============================] - 0s 67us/step - loss: 22.9970 - val_loss: 27.5688
Epoch 3/30
427/427 [==============================] - 0s 73us/step - loss: 22.1120 - val_loss: 29.7175
Epoch 4/30
427/427 [==============================] - 0s 63us/step - loss: 20.4426 - val_loss: 29.1642
Epoch 5/30
427/427 [==============================] - 0s 64us/step - loss: 19.6041 - val_loss: 28.8979

In [55]:
train_y_predictions = model.predict(train_X)

In [56]:
print("accuracy :", np.mean((1 - abs((np.array(train_y) - train_y_predictions)/np.array(train_y))) * 100))

accuracy : 58.31915865056455